<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Repository</title>
</head>
<body>
    <form action="/repo/create" method="post">
 
       
        
        <p>Repository Name : 
            <input type="text" name="repository_name"></input>
        </p>

        <p>Status :
            <input type="radio" name="repository_status" value="1">Public</input>
            <input type="radio" name="repository_status" value="0">Private</inut>
        </p>

        <p>Score :
            <input type="radio" name="repository_score" value=1>1</input>
            <input type="radio" name="repository_score" value=2>2</inut>
            <input type="radio" name="repository_score" value=3>3</inut>
            <input type="radio" name="repository_score" value=4>4</inut>
            <input type="radio" name="repository_score" value=5>5</inut>
        </p>

        <p>Tag :
            <select name="repository_tag" id = "repository_tag">
                <option value=Hip-Hop>Hip-Hop</option>
                <option value=Ballad>Ballad</option>
                <option value=Pop>Pop</option>
                <option value=Dance>Dance</option>
                <option value=Soul>Soul</option>
                <option value=Rock>Rock</option>
                <option value=R&B>R&B</option>
                <option value=Etc>Etc</option>

            </select>
        </p>


        
        <p><input type="submit" name="submit" value="Registrtaion"></input></p>


    </form>


    
   <script type="text/javascript">

      

    function submit() {
       var form = document.createElement("form");

       form.setAttribute("charset", "UTF-8");

       form.setAttribute("method", "Post");  //Post 방식

       form.setAttribute("action", "/user/create"); //요청 보낼 주소

       var hiddenField = document.createElement("input");

       hiddenField.setAttribute("type", "hidden");

       hiddenField.setAttribute("name", "mName");

       hiddenField.setAttribute("value", mName);

       form.appendChild(hiddenField);

       hiddenField = document.createElement("input");

       hiddenField.setAttribute("type", "hidden");
       hiddenField.setAttribute("name", "mEmail");
       hiddenField.setAttribute("value", mEmail);

       form.appendChild(hiddenField);



       document.body.appendChild(form);

       form.submit();

    }

 </script>
</body>
</html>