<!DOCTYPE html>
<html lang="en">
<head>
<title>파일</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
    <body>

        <div class="container">
            <div class="jumbotron">
                <h1>파일 업로드</h1>
            </div>
        </div>

        <div class="container">
            <form action="/file/upload" method="post" enctype="multipart/form-data">

            <div class="form-group">
                <input type="file" class="form-control-file" id="fileupload" name="myFile">
            </div>

            <input type="submit" value="업로드">
            </form>
        </div>

       
<br>
<br>
<br>
<br>

        <div class="container">
            <div class="jumbotron">
                <h1>파일 다운로드</h1>
            </div>
        </div>

        <div class="container">
            <form action="/file/download" method="post">

            <div class="form-group">
                File ID : 
                <input type="text" class="form-control-file" name="file_id">
                Branch ID : 
                <input type="text" class="form-control-file" name="branch_id">
            </div>

            <input type="submit" value="다운로드">
            </form>
        </div>


    </body>
</html>
